!!!5
html(lang='sk')
    head
        meta(charset='utf-8')
        title= app.get('title')
        link(rel='stylesheet', href='/style.css')
    body
        header
            h1
                a(href='/')= app.get('title')
        nav
            a(href='/submits', class= url == '/submits' ? 'active' : '') Submity
            a(href='/upload', class= url == '/upload' ? 'active' : '') Submitni svoj návrh
            a(href='/rules', class= url == '/rules' ? 'active' : '') Pravidlá
        #content
            p.info Hodnotí sa nápad, nie realizácia. Dotiahnuť skvelú pointu do dokonalosti už nebude problém ;-)
            block content
        footer
            img(src='/trojsten.png', alt='logo Trojstenu')
