!!!5
html(lang='sk')
    head
        title Trojsten New Logo Contest
        link(rel='stylesheet', href='/style.css')
    body
        header
            h1 Trojsten New Logo Contest
        .content
            block content
        footer
            p footer stuff
