extend chrome
block content
    h2 Pravidlá

    div(style='text-align: left; width: 84%; max-width: 70em; margin: 0 auto')
        :markdown
            TODO spisat (to ale uz spravi niekto iny! :P)

            Asi to chce byt nieco na styl:

            1. Výsledok hlasovania nie je záväzný - pri výbere nového loga sa na
               neho bude prihliadať, ale ak to vyhrá Mega Traktor 3000, nové
               logo z neho nebude.
            2. Každý má práve jeden hlas. Áno, ide to ohackovať. Áno, verím, že
               to nebudete robiť. (Keď vidíte, že máte selectnutý niektorý
               obrázok, môžete zahlasovať za iný a váš hlas sa presunie, ale ak
               napríklad použijete iný browser, nestane sa tak, takže hlasujte
               zodpovedne. To máte za to, že vás nechcem otravovať s
               prihlasovaním.)
            3. Uploadovať môžete čo chcete koľko chcete, posudzuje sa každý
               návrh samostatne.
            4. Posudzujú sa nápady, nie realizácia. Po skončení hlasovania sa
               vyberie _N_ kandidátov (zhruba 0 < _N_ < 5, závisí to na tom, ako
               jasné najlepšie logo ever budeme mať) a nakreslia sa poriadne.
               Nasledovať bude finálne rozhodnutie.
