extend chrome
block content
    h2 Pravidlá

    div(style='text-align: left; width: 84%; max-width: 70em; margin: 0 auto')
        :markdown
            3. Ako návrh môžete poslať čo len chcete; posudzuje sa každý
               návrh samostatne.
            4. Posudzujú sa nápady, nie realizácia.  Kľudne môžete svoj návrh
               nakresliť ceruzkou (hlasovanie nezávisí od toho, kto lepšie
               ovláda počítačovú grafiku, ale od nápadu). Po skončení
               hlasovania sa vyberie _N_ kandidátov (zhruba 0 < _N_ < 5, počet
               si zvolíme my) a nakreslia sa poriadne.
            3. Výsledok hlasovania nie je záväzný – pri výbere nového loga sa na
               neho bude prihliadať, ale nechceme predsa mať ako nové Trojstenové
               logo niečo, za čo hlasovalo veľa ľudí len pre tú srandu.
            4. Každý má právo na práve jeden hlas. Týmto vás žiadame, aby ste to
               nezneužívali a nehlasovali viackrát cez rôzne internetové
               prehliadače. Ak používate jeden prehliadač a budete hlasovať
               viackrát, váš hlas sa presunie.