extend chrome
block content
    ul#submits
        each item in submits
            li
                a.img(href='/submits/#{item._id.toString()}')!= cloudinary.image(item._id.toString(), { format: 'png', width: 200 })
                p.desc= item.desc
