extend chrome
block content
    form#uploadform(action='#{action}', method='post', enctype='multipart/form-data')
        p Autor:
            input(name='author[name]', type='text')
        p E-mail (nebude publikovany):
            input(name='author[email]', type='email')
        p Navrh (obrazok):
            input#imageselect(name='image', type='file')

        div#showimage
            img#preview(width=200, alt='submitted image preview')

        p Popis:
            textarea(name='desc')

        input#submit(type='submit', value='Uploadni')

    div#uploading-overlay
        div#uploading-content Uploadujem, prosim cakaj...

    :coffeescript
        $ = (id) -> document.getElementById id

        if window.File && window.FileList && window.FileReader  # check for browser support

            image = null

            showInfo = (img) ->
                reader = new FileReader()
                reader.onload = (e) ->
                    $('preview').setAttribute 'src', e.target.result
                    $('imageselect').style.display = 'none'
                    $('showimage').style.display = 'block'
                reader.readAsDataURL img

            handleFileSelect = (e) ->
                image = (e.target.files ? e.dataTransfer.files)[0]
                showInfo image

            $('imageselect').addEventListener 'change', handleFileSelect, false
            
        $('submit').addEventListener 'click', ->
            console.log 'upload started'
            $('uploading-overlay').style.display = 'block'
