extend chrome
block content
    h2 Tvoj návrh

    form#uploadform(action='#{action}', method='post', enctype='multipart/form-data')

        table
            tr
                td Autor:
                td 
                    input(name='author[name]', type='text', required)
            tr
                td E-mail (nebude publikovaný):
                td
                    input(name='author[email]', type='email', required)
            tr#imageselect
                td Návrh (obrázok):
                td
                    input(name='image', type='file', required)
            tr
                td(colspan=2)
                    div#showimage
                        div#kecy1 najlepšie PNG alebo JPG rozumnej veľkosti
                        img#preview(width=300, alt='submitted image preview', style='display: none')
                        div#kecy2(style='display: none') pekný!
            tr
                td(colspan=2) Popis:
                    textarea#desc_i(name='desc', required)
            tr
                td(colspan=2, style='text-align: center; padding-top: 3em')
                    input#submit(type='submit', value='Uploadni')

    div#uploading-overlay
        div#uploading-content
            img(src='/load.gif')
            p Uploadujem, prosím čakaj...

    :coffeescript
        $ = (id) -> document.getElementById id

        if window.File && window.FileList && window.FileReader  # check for browser support

            image = null

            showInfo = (img) ->
                reader = new FileReader()
                reader.onload = (e) ->
                    $('preview').setAttribute 'src', e.target.result
                    $('kecy2').innerText = "typ: #{img.type}, veľkost: #{(img.size/1024).toFixed 1}kB"
                    $('imageselect').style.display = 'none'
                    $('kecy1').style.display = 'none'
                    $('preview').style.display = 'block'
                    $('kecy2').style.display = 'block'
                reader.readAsDataURL img

            handleFileSelect = (e) ->
                image = (e.target.files ? e.dataTransfer.files)[0]
                showInfo image

            $('imageselect').addEventListener 'change', handleFileSelect, false
            
        $('submit').addEventListener 'submit', (e) ->
            for i in $('uploadform').getElementsByTagName('input')
                if (not i.value?) or i.value == '' then emptystuff = true
            if (not $('desc_i').value?) or $('desc_i').value == '' then emptystuff = true
            if emptystuff
                e.stopPropagation()
                e.preventDefault()
                alert 'Nie sú vyplnené všetky údaje!'
            else
                $('uploading-overlay').style.display = 'block'
