extend chrome
block content
    h2 Tvoj navrh

    form#uploadform(action='#{action}', method='post', enctype='multipart/form-data')

        table
            tr
                td Autor:
                td 
                    input(name='author[name]', type='text')
            tr
                td E-mail (nebude publikovany):
                td
                    input(name='author[email]', type='email')
            tr#imageselect
                td Navrh (obrazok):
                td
                    input(name='image', type='file')
            tr
                td(colspan=2)
                    div#showimage
                        img#preview(width=300, alt='submitted image preview')
            tr
                td(colspan=2) Popis:
                    textarea(name='desc')
            tr
                td(colspan=2, style='text-align: center')
                    input#submit(type='submit', value='Uploadni')

    div#uploading-overlay
        div#uploading-content
            img(src='/load.gif')
            p Uploadujem, prosim cakaj...

    :coffeescript
        $ = (id) -> document.getElementById id

        if window.File && window.FileList && window.FileReader  # check for browser support

            image = null

            showInfo = (img) ->
                reader = new FileReader()
                reader.onload = (e) ->
                    $('preview').setAttribute 'src', e.target.result
                    $('imageselect').style.display = 'none'
                    $('showimage').style.display = 'block'
                reader.readAsDataURL img

            handleFileSelect = (e) ->
                image = (e.target.files ? e.dataTransfer.files)[0]
                showInfo image

            $('imageselect').addEventListener 'change', handleFileSelect, false
            
        $('submit').addEventListener 'click', ->
            console.log 'upload started'
            $('uploading-overlay').style.display = 'block'
